h1 {
    color: #ffffff;/*文字色*/
    padding: 0.5em;/*文字周りの余白*/
    display: inline-block;/*おまじない*/
    line-height: 0.5;/*行高*/
    background: hsl(208, 91%, 73%);/*背景色*/
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
  }
  
  h1:before {
    content: '●';
    color: white;
    margin-right: 8px;
  }
  
  
  a {
    color: #505050;/*文字色*/
    padding: 1em;/*文字周りの余白*/
    display: inline-block;/*おまじない*/
    line-height: 1;/*行高*/
    background: #bcf8f2;/*背景色*/
    vertical-align: middle;
    border-radius: 45px 45px 45px 45px;/*左側の角を丸く*/
    text-decoration:none;
  }
  
  h2 {
    border-bottom: solid 3px #cce4ff;
    position: relative;
  }
  
  h2:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #2b65f6;
    bottom: -3px;
    width: 20%;
  }