<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>実習3</title>
  </head>

  <body>
    <h1>動画１ Word 《文字検索》</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uVmXEP6aUBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>※本動画では キー と ボタン は同一の意味として扱います</p>
    <h2>説明</h2>
    <p>文字の検索をしたい場合は、<b>CtrlボタンとFボタンを同時に押してください。</b></p>
    <br>
    <a href="{% url 'Word_video2' %}">次へ</a>
    <a href="{% url 'Word' %}">動画教材一覧へ戻る</a>
    <a href="{% url 'home' %}">homeへ戻る</a>
  </body>
</html>