<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>実習3</title>
  </head>

  <body>
    <h1>動画6 Word 《ファイルを開く, 白紙を出す, 保存する》</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OttaRC7JYb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>※本動画では キー と ボタン は同一の意味として扱います</p>
    <h2>説明</h2>
    <p>・ファイルを開きたい場合は、<b>CtrlボタンとOボタンを同時に押してください。</b>
    <br>・白紙の文章を新しく作りたい場合は、<b>CtrlボタンとNボタンを同時に押してください。</b>
    <br>・文章に名前を付けて保存したい場合は、<b>CtrlボタンとSボタンを同時に押してください。</b>
    </p>
    <br>    
    <a href="{% url 'Word_video5' %}">戻る</a>
    <a href="{% url 'Word_video7' %}">次へ</a>
    <a href="{% url 'Word' %}">動画教材一覧へ戻る</a>
    <a href="{% url 'home' %}">homeへ戻る</a>
  </body>
</html>