<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>実習3</title>
  </head>

  <body>
    <h1>動画3 Word 《単語選択》</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mGJF9BHvz7o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>※本動画では キー と ボタン は同一の意味として扱います</p>
    <h2>説明</h2>
    <p>単語単位で選択をしたい場合は、<b>CtrlボタンとShiftボタンと<u>左右どちらかの</u>方向キーを同時に押してください。</b>
    </p>
    <br>
    <a href="{% url 'Word_video2' %}">戻る</a>
    <a href="{% url 'Word_video4' %}">次へ</a>
    <a href="{% url 'Word' %}">動画教材一覧へ戻る</a>
    <a href="{% url 'home' %}">homeへ戻る</a>
  </body>
</html>