<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>実習3</title>
  </head>

  <body>
    <h1>動画３ PowerPoint 《書式のコピー、貼り付け》</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tVvJMF0FWWg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>※本動画では キー と ボタン は同一の意味として扱います</p>
    <h2>説明</h2>
    <p>書式を統一したい場合、<u>変えたくない書式を選択して</u><b>CtrlボタンとShiftボタンとCボタンを同時に押して</b>、書式のコピーができます。
      そして、<u>変えたい書式を選択し</u>、<b>CtrlボタンとShiftボタンとVボタンを同時に押してください</b>。 
    </p>
    <br>
    <a href="{% url 'PowerPoint_video2' %}">戻る</a>
    <a href="{% url 'PowerPoint_video4' %}">次へ</a>
    <a href="{% url 'PowerPoint' %}">動画教材一覧へ戻る</a>
    <a href="{% url 'home' %}">homeへ戻る</a>
  </body>
</html>