<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>実習3</title>
  </head>

  <body>
    <h1>動画4 Windows 《設定画面の表示, アプリの表示》</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z-n72h0dy5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>※本動画では キー と ボタン は同一の意味として扱います</p>
    <h2>説明</h2>
    <p>・キーボード左下にある<b>Windowsボタンを押すと</b>、スタートメニュー（ピン留めしているアプリの表示・アプリの検索、アカウントのサインアウト・ユーザーの切り替え、電源の再起動・シャットダウン・スリープが出来る）が表示されます。
      <br>・<b>WindowsボタンとIボタンを同時に押すと</b>、設定画面を開くことが出来ます。
      <br>・<b>Windowsボタンと数字キーを同時に押すと</b>、画面下のタスクバーから該当するアプリを出すことが出来ます。
      <u>今回の場合、chromeが（スタートメニューとその右の検索タブを省いて）左から9番目にあるので、Windowsボタンと9のキーを同時に押すとchromeが表示されます。</u></p>
      <br>
    <a href="{% url 'Windows_video3' %}">戻る</a>
    <a href="{% url 'Windows' %}">動画教材一覧へ戻る</a>
    <a href="{% url 'home' %}">homeへ戻る</a>
  </body>
</html>