<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>実習3</title>
  </head>

  <body>
    <h1>動画６ PowerPoint 《スライド複製》</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pLJssbbUKTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>※本動画では キー と ボタン は同一の意味として扱います</p>
    <h2>説明</h2>
    <p>スライドを複製したい場合、<u>スライドを選択した状態で</u>、<b>CtrlボタンとDボタンを同時に押してください。</b>
    </p>
    <br>
    <a href="{% url 'PowerPoint_video5' %}">戻る</a>
    <a href="{% url 'PowerPoint_video7' %}">次へ</a>
    <a href="{% url 'PowerPoint' %}">動画教材一覧へ戻る</a>
    <a href="{% url 'home' %}">homeへ戻る</a>
  </body>
</html>